* {
	box-sizing: border-box;
}

:root {
	--yellow: #f5d107;
	--green: #038852;
	--blue: #2630be;
	--red: #e64444;
	--viewheight: 150vh;
	--headerHeight: 20vh;
}

body {
	background: rgb(255, 255, 255);
	margin: 0;
	height: var(--viewheight);
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-areas:
		'header header header'
		'navbar navbar navbar'
		'main main main'
		'main main main'
		'main main main'
		'footer footer footer';
}

/* nav,
main,
footer {
	grid-column: 2/-1;
} */

header {
	background-image: url('https://images.unsplash.com/photo-1614850716626-873413eb7c1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
	background-size: cover;
	grid-area: header;
	display: grid;
	justify-items: center;
	align-items: center;
	height: var(--headerHeight);
}

.nav,
footer {
	height: 5rem;
}

.nav {
	top: 0;
	display: flex;
	background-image: url('https://images.unsplash.com/photo-1614850716626-873413eb7c1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
	background-size: 550px;
	align-items: center;
	grid-area: navbar;
	z-index: 10;
	width: 100%;
}
.display__none {
	width: 0;
	transition: all 0.5s;
}

.sidebar.display__there {
	width: 300px;
	position: fixed;
	height: calc(var(--viewheight) / 2.5);
	top: 10rem;
	left: 0;
	transition: all 0.5s;
	box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.1);
	opacity: 0.75;
}

.sidebar {
	height: calc(var(--viewheight) / 2.5);
	width: 0;
	position: fixed;
	z-index: 1;
	top: 10rem;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	border: 1px solid black;
	background-color: var(--green);
	opacity: 0;
}

.navmenu:active {
	transform: scale(0.91);
}

.navmenu {
	border: 1px solid black;
	background-color: var(--yellow);
	height: 100%;
	flex: 1;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

body.fixed-nav .nav {
	position: fixed;
	box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.nav .logo.navmenu {
	max-width: 0;
	overflow: hidden;
	background-image: url('https://images.unsplash.com/photo-1614850716626-873413eb7c1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
	background-size: cover;
	transition: all 0.5s;
	font-weight: 600;
	font-size: 30px;
}

.logo img {
	height: 5rem;
}

.fixed-nav .logo.navmenu {
	max-width: 500px;
}

.main {
	grid-area: main;
	height: calc(var(--viewheight) - 10rem);
	display: flex;
	position: relative;
	z-index: 3;
}

.container {
	flex: 1;
	display: grid;
	border: 1px solid black;
	grid-template-columns: repeat(3, 1fr);
}

.fixed-nav .container {
	transform: scale(1.21);
	transition: all 0.5s;
}

footer {
	grid-area: footer;
	border: 1px solid black;
	background-color: var(--blue);
}

article {
	display: grid;
	justify-items: center;
	align-content: center;
}
