* {
	box-sizing: border-box;
}

body {
	margin: 20px;
	height: calc(100vh - 40px);
	display: grid;
	grid-template-columns: 200px 3fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
		'navbar navbar navbar'
		'sidebar main main'
		'sidebar main main'
		'sidebar main main'
		'footer footer footer';
}

/* nav,
main,
footer {
	grid-column: 2/-1;
} */

nav {
	grid-area: navbar;
	border: 1px solid black;
}

nav,
footer {
	height: 5rem;
}

#nav {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.sidebar {
	width: 200px;
	height: calc(100vh - 40px);
	grid-area: sidebar;
	border: 1px solid black;
}

.container {
	grid-area: main;
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

footer {
	grid-area: footer;
	border: 1px solid black;
}

article {
	display: grid;
	justify-items: center;
	align-content: center;
}
