* {
	box-sizing: border-box;
}

:root {
	--yellow: #f5d107;
	--green: #038852;
	--blue: #2630be;
	--red: #e64444;
}

body {
	margin: 0;
	height: calc(100vh - 40px);
	display: grid;
	grid-template-columns: 200px 3fr 1fr;
	grid-gap: 10px;
	grid-template-areas:
		'navbar navbar navbar'
		'main main main'
		'main main main'
		'main main main'
		'footer footer footer';
}

/* nav,
main,
footer {
	grid-column: 2/-1;
} */

.nav,
footer {
	height: 5rem;
}

.nav {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: var(--yellow);
	align-items: center;
	padding: 10px;
	grid-area: navbar;
	border: 1px solid black;
}
.display__none {
	width: 0;
	transition: all 0.5s;
}

.sidebar.display__there {
	width: 300px;

	transition: all 0.5s;
}
.sidemenu_button {
	padding: 10px;
	width: fit-content;
	border: 1px solid black;
}

.sidemenu_button:active {
	transform: scale(0.91);
}

.navmenu {
	justify-self: end;
}

.main {
	grid-area: main;
	display: flex;
	height: 100vh;
}

.sidebar {
	width: 0;
	transition: all 0.5s;
	border: 1px solid black;
	background-color: var(--green);
}

.container {
	flex: 1;
	display: grid;
	border: 1px solid black;
	grid-template-columns: repeat(3, 1fr);
	background-color: var(--red);
}

footer {
	grid-area: footer;
	border: 1px solid black;
	background-color: var(--blue);
}

article {
	display: grid;
	justify-items: center;
	align-content: center;
}
