html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.one {
	height: calc(100vh - 13.125rem);
	width: 100%;
	background-image: url(../01-img/headshot_bg_landing.png);
	background-repeat: no-repeat;
	background-position: right -45% bottom 65%;
	background-size: 75rem;
	z-index: -100;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
}

.two {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--blue);
	justify-content: start;
	align-items: center;
	background-image: url(../01-img/headshot_bg_landing.png);
	background-repeat: no-repeat;
	background-position: right 135% bottom 45%;
	background-size: 76rem;
	z-index: -100;
}
.three {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 5vh);
	background-color: white;
	justify-content: start;
	align-items: center;
}

.quote {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;
	align-items: center;
	border-left: 5px solid black;
	font-size: 26px;
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

.fade-in {
	opacity: 1;
}

#down {
	position: relative;
	top: 140%;
	left: 145%;
	width: 4rem;
	height: 6rem;
	outline: none;
	border: none;
	background-color: transparent;
}

#down img {
	width: 4rem;
}

#about__me {
	margin-top: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	color: rgb(255, 255, 255);
	font-size: 22px;
	line-height: 2em;
	text-align: justify;
}

#jc_quote {
	font-family: 'MonoLisa', monospace;
	font-size: 22px;
}

#platform {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 80%;
	height: fit-content;
	padding: 1rem;
	gap: 10px;
}

.service {
	display: flex;
	justify-content: center;
	align-items: center;
}

#outer-container:hover {
	transform: scale(1.1);
}

.locked {
	opacity: 0.5;
}

.service img {
	width: 2rem;
	height: 2rem;
	padding: 0.05rem;
}

#outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	border: 1px solid black;
	padding: 0.15rem 0.35rem;
	background-color: white;
	border-radius: 10px;
	color: black;
}

#text-container {
	padding: 0px 5px 0px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
}

#text-container p {
	margin: 0;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

#resume {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	color: rgb(255, 255, 255);
	font-size: 22px;
	line-height: 2em;
	text-align: justify;
	margin-top: 2rem;
}

#resume img {
	width: clamp(30px, 5vw, 40px);
}

@media screen and (max-width: 1440px) {
	#about__me {
		width: 80%;
	}
}

/* #textbox {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: fit-content;
	color: white;
	padding: 10px;
	font-size: 18px;
	line-height: 1em;
} */
