@font-face {
	font-family: 'MonoLisa';
	src: url('/fonts/MonoLisa/monolisa-regular-webfont.woff2') format('woff2'),
		url('/fonts/MonoLisa/monolisa-regular-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MonoLisa';
	src: url('/fonts/MonoLisa/monolisa-bold-webfont.woff2') format('woff2'),
		url('/fonts/MonoLisa/monolisa-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'WorkSans';
	src: url('/fonts/WorkSans/worksans-regular-webfont.woff2') format('woff2'),
		url('/fonts/WorkSans/worksans-regular-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'WorkSans';
	src: url('/fonts/WorkSans/worksans-light-webfont.woff2') format('woff2'),
		url('/fonts/WorkSans/worksans-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: light;
}

@font-face {
	font-family: 'WorkSans';
	src: url('/fonts/WorkSans/worksans-bold-webfont.woff2') format('woff2'),
		url('/fonts/WorkSans/worksans-bold-webfont.woff') format('woff');
	font-weight: 900;
	font-style: bold;
}
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--yellow: #fbd780;
	--green: #038852;
	--blue: #2d9ab3;
	--red: #fe2e4d;
	--viewheight: 120vh;
	--headerHeight: 210px;
}

body {
	background: rgb(255, 255, 255);
	margin: 0 auto;
	font-family: 'WorkSans', monospace;
	height: var(--viewheight);
	display: grid;
	grid-template-areas:
		'header header header'
		'navbar navbar navbar'
		'main main main'
		'main main main'
		'main main main'
		'footer footer footer';
	scroll-behavior: smooth;
}

header {
	/* background-image: url('https://images.unsplash.com/photo-1614850716626-873413eb7c1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); */
	background-image: url('/11-resources/11-img/header_2.jpg');
	background-size: cover;
	grid-area: header;
	display: grid;
	justify-items: center;
	align-items: center;
	height: var(--headerHeight);
}
header img#header__logo {
	opacity: 1;
	transition: all 0.25s;
}

.smaller {
	opacity: 0;
	transform: scale(0.25);
}
.nav {
	height: 5rem;
	top: 0;
	display: flex;
	/* background-image: url('https://images.unsplash.com/photo-1614850716626-873413eb7c1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80'); */
	background-size: 550px;
	align-items: center;
	grid-area: navbar;
	z-index: 10;
	width: 100%;
}
.display__none {
	width: 0;
	transition: all 0.5s;
}
.sidebar.display__there {
	width: 0%;
	position: fixed;
	transition: all 0.5s;
	box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.1);
	opacity: 0.75;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow: hidden;
	transition: 0.5s;
	border: 1px solid black;
	background-color: grey;
	opacity: 0;
}
/* .navmenu:active {
	transform: scale(0.91);
} */
.navmenu {
	background-color: whitesmoke;
	height: 100%;
	flex: 1;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	text-transform: lowercase;
	scroll-behavior: smooth;
}

.navmenu a {
	text-decoration: none;
	color: black;
	/* font-family: 'Virgil 3 YOFF'; */
	font-weight: 500;
	font-size: 1.5rem;
	transition: all 0.25s;
}
body.fixed-nav .nav {
	position: fixed;
	border-bottom: 1px solid black;
}
.nav .logo.navmenu {
	max-width: 0;
	overflow: hidden;
	background-image: url('/11-resources/11-img/header_2.jpg');
	background-size: cover;
	transition: all 0.3s;
	font-weight: 500;
	font-size: 24px;
}

.nav .logo.navmenu a {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img {
	height: 5rem;
}
.fixed-nav .logo.navmenu {
	max-width: 700px;
	flex: 1;
}
.main {
	grid-area: main;

	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 3;
}

.content__container {
	flex: 1;
}

.shrink {
	transform: scale(0.3);
	transition: all 0.25s;
}

footer {
	grid-area: footer;
	border: 1px solid black;
	background-color: var(--blue);
	z-index: 6;
	height: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

article {
	display: grid;
	justify-items: center;
	align-content: center;
}

a {
	text-decoration: none;
}
/* @media (max-width: 1500px) {
	header {
		height: 30vh;
	}
} */

@media (max-width: 400px) {
	header {
		display: none;
	}
	body {
		grid-template-areas:
			'header header '
			'navbar navbar'
			'main main'
			'main main '
			'main main '
			'footer footer';
	}
	.sidebar.display__there {
		width: 100%;
	}
	.navmenu {
		display: none;
	}

	.sidemenu_button {
		border: 1px solid black;
		height: 100%;
		flex: 1;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
	}
	.nav .logo.navmenu {
		max-width: 700px;
	}

	.nav {
		position: sticky;
	}

	.fixed-nav .logo.navmenu {
		max-width: 700px;
		flex: 1;
	}

	footer {
		height: 7vh;
		color: white;
		font-size: 12px;
		text-align: center;
	}
}
