.one {
	height: 65rem;
	width: 100%;
	background-image: url(../02-img/hanshead-removebg-half.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	z-index: -100;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
}

.two {
	display: flex;
	flex-direction: column;
	height: 80rem;
	background-color: #2d9ab3;
	justify-content: start;
	align-items: center;
}

.quote {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;
	align-items: center;
	border-left: 5px solid black;
	font-size: 26px;
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

.fade-in {
	opacity: 1;
}

#down {
	position: relative;
	top: 140%;
	left: 145%;
	width: 4rem;
	height: 6rem;
	outline: none;
	border: none;
	background-color: transparent;
}

#down img {
	width: 4rem;
}

#about__me {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	color: rgb(255, 255, 255);
	font-size: 22px;
	line-height: 2em;
	text-align: justify;
}

#platform {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 33rem;
	height: fit-content;
	padding: 1rem;
	gap: 10px;
}

.service {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	border: 1px solid black;
	padding: 0.5rem;
	background-color: white;
	border-radius: 10px;
}

.service:hover {
	transform: scale(1.1);
}

.service img {
	width: 6rem;
	height: 6rem;
	padding: 0.05rem;
}

#textbox {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: fit-content;
	color: white;
	padding: 10px;
	font-size: 18px;
	line-height: 1.2em;
}

@media screen and (max-width: 1440px) {
	#about__me {
		width: 80%;
	}
}
